In [1]:
%load_ext autoreload
%autoreload 2

import sys
import pandas as pd
#ADD YOUR DIRECTORY HERE
sys.path.append('/Users/lorenzostigliano/Documents/University/Imperial/Summer Term/thesis-imperial/src/')
sys.path.append('/Users/lorenzostigliano/Documents/University/Imperial/Summer Term/thesis-imperial/src/utils')
sys.path.append('/Users/lorenzostigliano/Documents/University/Imperial/Summer Term/thesis-imperial/src/models')

from utils.analysis import *
from utils.getters import * 
from utils.plotters import * 
from utils.helpers import * 
from models_config.model_config_BreastMNIST import *

In [2]:
analysis_type="model_assessment"
dataset_split="val"
dataset="BreastMNIST"
models_args=[
    gcn_gat_student_lsp_ensamble_2_BreastMNIST_args,
    gcn_gat_student_lsp_ensamble_3_BreastMNIST_args,
    gcn_gat_student_lsp_ensamble_4_BreastMNIST_args,
    gcn_gat_student_lsp_ensamble_5_BreastMNIST_args
]

views = [-1]

#GET ALL OF THE MODEL BEST STUDENTS FOR ALL RUNS AND DIFFERENT PICKING CRITERIA FOR OUR MODEL 
all_model_metrics_mean, all_model_metrics_var, all_model_best_student = get_all_best_student(analysis_type, dataset_split, dataset, models_args, views)

gat_student_lsp_ensamble_2
[[0.9633333333333333, 9.305555555555621e-05, 0], [0.9633333333333333, 9.305555555555621e-05, 0], [0.9633333333333333, 9.305555555555621e-05, 0], [0.9633333333333333, 9.305555555555621e-05, 0], [0.9633333333333333, 9.305555555555621e-05, 0]]
gat_student_lsp_ensamble_3
[[0.9369444444444446, 0.00043873456790123583, 2], [0.9269444444444446, 8.032407407407345e-05, 0], [0.9269444444444446, 8.032407407407345e-05, 0], [0.9279166666666667, 0.0004955439814814816, 1], [0.9269444444444446, 8.032407407407345e-05, 0]]
gat_student_lsp_ensamble_4
[[0.9552777777777777, 0.00040462962962962924, 1], [0.953888888888889, 0.0003861111111111093, 0], [0.953888888888889, 0.0003861111111111093, 0], [0.9552777777777777, 0.00040462962962962924, 1], [0.953888888888889, 0.0003861111111111093, 0]]
gat_student_lsp_ensamble_5
[[0.9576388888888887, 0.0002427662037037044, 2], [0.9275000000000002, 0.0007383487654321014, 0], [0.9275000000000002, 0.0007383487654321014, 0], [0.9479166666666666, 0.0005741705246913578, 1], [0.9479166666666666, 0.0005741705246913578, 1]]

In [3]:
df_rep, df_acuracy, df_var, index = final_student(all_model_metrics_mean, all_model_metrics_var, all_model_best_student, selection_method='weighted acc')
df_rep, df_acuracy, df_var, index

(          2         3         4         5
 0  0.963333  0.927917  0.955278  0.947917
 1  0.963333  0.927917  0.955278  0.947917,
           2         3         4        5
 0  0.739786  0.732308  0.731838  0.73047
 1  0.739786  0.732308  0.731838  0.73047,
 0    0.001316
 1    0.001316
 Name: weighted acc, dtype: float64,
      2    3    4    5
 0  0.0  1.0  1.0  1.0)

In [4]:
mean_all_runs, mean_all_std = reproducibility_mulitple_runs_student_specific(
    dataset="BreastMNIST", 
    views=[-1], 
    models=["gcn", "gat_student", "gat_student_teacher", "fitnet_gat", "lsp_gat", "mskd_gat", "gat_student_lsp_ensamble_2"],
    CV=["3Fold", "5Fold", "10Fold"], 
    runs=[i for i in range(10)], 
    students=[
        [0]
    ], 
    model_args = [
    gcn_BreastMNIST_args, 
    gat_gat_student_BreastMNIST_args, 
    gcn_gat_student_BreastMNIST_args, 
    gcn_gat_fitnet_student_BreastMNIST_args,
    gcn_gat_lsp_student_BreastMNIST_args,
    gcn_gat_mskd_student_BreastMNIST_args,
    gcn_gat_student_lsp_ensamble_2_BreastMNIST_args
    ])

In [6]:
reproducibility_frame = pd.DataFrame(mean_all_runs.T)

models=["gcn", "gat_student", "gat_student_teacher", "fitnet_gat", "lsp_gat", "mskd_gat", "repKD"]
reproducibility_frame.columns = models
reproducibility_frame = reproducibility_frame*100

reproducibility_frame["delta teacher"] = ((reproducibility_frame["repKD"] - reproducibility_frame["gcn"]) / reproducibility_frame["gcn"])*100
reproducibility_frame["delta student"] = ((reproducibility_frame["repKD"] - reproducibility_frame["gat_student"]) / reproducibility_frame["gat_student"])*100
reproducibility_frame["delta vanilla"] = ((reproducibility_frame["repKD"] - reproducibility_frame["gat_student_teacher"]) / reproducibility_frame["gat_student_teacher"])*100
reproducibility_frame["delta fitnet"] = ((reproducibility_frame["repKD"] - reproducibility_frame["fitnet_gat"]) / reproducibility_frame["fitnet_gat"])*100
reproducibility_frame["delta lsp"] = ((reproducibility_frame["repKD"] - reproducibility_frame["lsp_gat"]) / reproducibility_frame["lsp_gat"])*100
reproducibility_frame["delta mskd"] = ((reproducibility_frame["repKD"] - reproducibility_frame["mskd_gat"]) / reproducibility_frame["mskd_gat"])*100
reproducibility_frame.T

                             0          1
gcn                  89.208333  89.208333
gat_student          99.472222  99.472222
gat_student_teacher  98.111111  98.111111
fitnet_gat           91.444444  91.444444
lsp_gat              91.055556  91.055556
mskd_gat             91.791667  91.791667
repKD                96.333333  96.333333
delta teacher         7.986922   7.986922
delta student        -3.155543  -3.155543
delta vanilla        -1.812005  -1.812005
delta fitnet          5.346294   5.346294
delta lsp             5.796217   5.796217
delta mskd            4.947798   4.947798

In [7]:
reproducibility_frame_std = pd.DataFrame(mean_all_std.T)*100
models=["gat", "gcn_student", "gcn_student_teacher", "fitnet_gcn", "lsp_gcn", "mskd_gcn", "repKD"]
reproducibility_frame_std.columns = models
reproducibility_frame_std.T

                            0         1
gat                  5.448641  5.448641
gcn_student          1.012651  1.012651
gcn_student_teacher  1.790751  1.790751
fitnet_gcn           3.929942  3.929942
lsp_gcn              3.224018  3.224018
mskd_gcn             3.513340  3.513340
repKD                0.964653  0.964653

In [8]:
views=[-1]
CV=["3Fold", "5Fold", "10Fold"]

runs = [i for i in range(10)]
dataset = "BreastMNIST"
dataset_split="val"
analysis_type="model_assessment"
metrics = ["acc"]

final_model = ["gat_student_lsp_ensamble_2"]
final_model_args = [gcn_gat_student_lsp_ensamble_2_BreastMNIST_args]
best_student = [0]
baseline_models = ["gcn", "gat_student", "gat_student_teacher", "fitnet_gat", "lsp_gat", "mskd_gat"]
baseline_models_args = [
    gcn_BreastMNIST_args, 
    gat_gat_student_BreastMNIST_args, 
    gcn_gat_student_BreastMNIST_args, 
    gcn_gat_fitnet_student_BreastMNIST_args,
    gcn_gat_lsp_student_BreastMNIST_args,
    gcn_gat_mskd_student_BreastMNIST_args]

In [9]:
average_across_views_df, average_across_views_df_std_mean = performance_mulitple_runs_student_specific(final_model, final_model_args, best_student, baseline_models, baseline_models_args, views, CV, runs, dataset, dataset_split, analysis_type, metrics)

In [11]:
average_across_views_df = pd.DataFrame(average_across_views_df)
models=["gcn", "gat_student", "gat_student_teacher", "fitnet_gat", "lsp_gat", "mskd_gat", "repKD"]

average_across_views_df.columns = models
average_across_views_df = average_across_views_df*100

average_across_views_df["delta teacher"] = ((average_across_views_df["repKD"] - average_across_views_df["gcn"]) / average_across_views_df["gcn"])*100
average_across_views_df["delta student"] = ((average_across_views_df["repKD"] - average_across_views_df["gat_student"]) / average_across_views_df["gat_student"])*100
average_across_views_df["delta vanilla"] = ((average_across_views_df["repKD"] - average_across_views_df["gat_student_teacher"]) / average_across_views_df["gat_student_teacher"])*100
average_across_views_df["delta fitnet"] = ((average_across_views_df["repKD"] - average_across_views_df["fitnet_gat"]) / average_across_views_df["fitnet_gat"])*100
average_across_views_df["delta lsp"] = ((average_across_views_df["repKD"] - average_across_views_df["lsp_gat"]) / average_across_views_df["lsp_gat"])*100
average_across_views_df["delta mskd"] = ((average_across_views_df["repKD"] - average_across_views_df["mskd_gat"]) / average_across_views_df["mskd_gat"])*100

average_across_views_df.T

                             0          1
gcn                  72.482906  72.482906
gat_student          55.589744  55.589744
gat_student_teacher  56.786325  56.786325
fitnet_gat           73.508547  73.508547
lsp_gat              73.444444  73.444444
mskd_gat             73.512821  73.512821
repKD                73.978632  73.978632
delta teacher         2.063558   2.063558
delta student        33.079643  33.079643
delta vanilla        30.275436  30.275436
delta fitnet          0.639498   0.639498
delta lsp             0.727336   0.727336
delta mskd            0.633647   0.633647

In [12]:
average_across_views_df_std_mean = pd.DataFrame(average_across_views_df_std_mean)
models=["gcn", "gat_student", "gat_student_teacher", "fitnet_gat", "lsp_gat", "mskd_gat", "repKD"]

average_across_views_df_std_mean.columns = models
average_across_views_df_std_mean.T*100

                            0
gcn                  0.309598
gat_student          0.081985
gat_student_teacher  0.099087
fitnet_gat           0.062826
lsp_gat              0.107554
mskd_gat             0.051862
repKD                0.033254