In [61]:
%load_ext autoreload
%autoreload 2

import sys
import pandas as pd

sys.path.append('/Users/lorenzostigliano/Documents/University/Imperial/Summer Term/thesis-imperial/src/')
sys.path.append('/Users/lorenzostigliano/Documents/University/Imperial/Summer Term/thesis-imperial/src/utils')
sys.path.append('/Users/lorenzostigliano/Documents/University/Imperial/Summer Term/thesis-imperial/src/models')

from utils.analysis import *
from utils.getters import * 
from utils.plotters import * 
from utils.helpers import * 
from utils.config import * 
from models_config.model_config_GSP import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [62]:
analysis_type="model_assessment"
dataset_split="val"
dataset="gender_data"
models_args=[
    gat_student_lsp_ensamble_2_args,
    gat_student_lsp_ensamble_3_args,
    gat_student_lsp_ensamble_4_args,
    gat_student_lsp_ensamble_5_args
]
views = [0,2,4,5]

#GET ALL OF THE MODEL BEST STUDENTS FOR ALL RUNS AND DIFFERENT PICKING CRITERIA FOR OUR MODEL 
all_model_metrics_mean, all_model_metrics_var, all_model_best_student = get_all_best_student(analysis_type, dataset_split, dataset, models_args, views)

gcn_student_lsp_ensamble_2
[[0.9290277777777778, 0.0003196180555555533, 1], [0.9252777777777776, 0.0003648919753086412, 0], [0.9290277777777778, 0.0003196180555555533, 1], [0.9252777777777776, 0.0003648919753086412, 0], [0.9290277777777778, 0.0003196180555555533, 1]]
[[0.9724999999999999, 0.00010254629629629654, 0], [0.8815277777777778, 0.0004008680555555557, 1], [0.8815277777777778, 0.0004008680555555557, 1], [0.9724999999999999, 0.00010254629629629654, 0], [0.9724999999999999, 0.00010254629629629654, 0]]
[[0.94625, 7.67939814814811e-05, 1], [0.94625, 7.67939814814811e-05, 1], [0.94625, 7.67939814814811e-05, 1], [0.94625, 7.67939814814811e-05, 1], [0.94625, 7.67939814814811e-05, 1]]
[[0.946111111111111, 6.666666666666683e-05, 0], [0.9, 0.0004756944444444432, 1], [0.9, 0.0004756944444444432, 1], [0.946111111111111, 6.666666666666683e-05, 0], [0.9, 0.0004756944444444432, 1]]
gcn_student_lsp_ensamble_3
[[0.9730555555555555, 5.7175925925926034e-05, 2], [0.9730555555555555, 5.7175925925926034e-05, 2], [0.9730555555555555, 5.7175925925926034e-05, 2], [0.9730555555555555, 5.7175925925926034e-05, 2], [0.9730555555555555, 5.7175925925926034e-05, 2]]
[[0.9391666666666667, 0.00014575617283950614, 2], [0.9166666666666667, 0.00021759259259259106, 1], [0.9166666666666667, 0.00021759259259259106, 1], [0.9166666666666667, 0.00021759259259259106, 1], [0.9166666666666667, 0.00021759259259259106, 1]]
[[0.9616666666666667, 0.00031604938271604857, 0], [0.961111111111111, 6.327160493827192e-05, 2], [0.961111111111111, 6.327160493827192e-05, 2], [0.961111111111111, 6.327160493827192e-05, 2], [0.961111111111111, 6.327160493827192e-05, 2]]
[[0.9718055555555557, 4.554398148148143e-05, 0], [0.9619444444444445, 0.00034575617283950694, 1], [0.9619444444444445, 0.00034575617283950694, 1], [0.9619444444444445, 0.00034575617283950694, 1], [0.9619444444444445, 0.00034575617283950694, 1]]
gcn_student_lsp_ensamble_4
[[0.9858333333333335, 0.0002506944444444442, 3], [0.9366666666666668, 0.0002682098765432096, 2], [0.9366666666666668, 0.0002682098765432096, 2], [0.9858333333333335, 0.0002506944444444442, 3], [0.9366666666666668, 0.0002682098765432096, 2]]
[[0.9647222222222223, 2.0138888888888747e-05, 2], [0.9400000000000001, 0.0002638117283950617, 3], [0.9530555555555555, 0.00023449074074074027, 1], [0.9530555555555555, 0.00023449074074074027, 1], [0.9530555555555555, 0.00023449074074074027, 1]]
[[0.9711111111111113, 9.444444444444439e-05, 2], [0.9711111111111113, 9.444444444444439e-05, 2], [0.9711111111111113, 9.444444444444439e-05, 2], [0.9711111111111113, 9.444444444444439e-05, 2], [0.9711111111111113, 9.444444444444439e-05, 2]]
[[0.97, 0.00043333333333333364, 2], [0.9466666666666667, 9.537037037037074e-05, 1], [0.9466666666666667, 9.537037037037074e-05, 1], [0.9466666666666667, 9.537037037037074e-05, 1], [0.9466666666666667, 9.537037037037074e-05, 1]]
gcn_student_lsp_ensamble_5
[[0.993888888888889, 9.537037037037017e-05, 0], [0.9652777777777777, 0.0002858796296296284, 2], [0.9455555555555554, 0.00017970679012345702, 4], [0.9652777777777777, 0.0002858796296296284, 2], [0.9455555555555554, 0.00017970679012345702, 4]]
[[0.9816666666666667, 0.00017314814814814808, 2], [0.9622222222222223, 0.000418518518518519, 4], [0.9622222222222223, 0.000418518518518519, 4], [0.9622222222222223, 0.000418518518518519, 4], [0.9622222222222223, 0.000418518518518519, 4]]
[[0.9929166666666667, 2.3321759259258976e-05, 3], [0.9533333333333334, 0.0006061728395061731, 4], [0.9755555555555556, 0.00012469135802469145, 2], [0.9755555555555556, 0.00012469135802469145, 2], [0.9755555555555556, 0.00012469135802469145, 2]]
[[0.9888888888888889, 0.0002283950617283949, 2], [0.9269444444444443, 0.0009121141975308655, 4], [0.9269444444444446, 0.00020609567901234532, 1], [0.9888888888888889, 0.0002283950617283949, 2], [0.9269444444444446, 0.00020609567901234532, 1]]

In [63]:
df_rep, df_acuracy, df_var, index = final_student(all_model_metrics_mean, all_model_metrics_var, all_model_best_student, selection_method='weighted acc')

In [64]:
df_rep, df_acuracy, df_var, index

(          2         3         4         5
 0  0.925278  0.973056  0.985833  0.965278
 1  0.972500  0.916667  0.953056  0.962222
 2  0.946250  0.961111  0.971111  0.975556
 3  0.946111  0.961944  0.946667  0.988889
 4  0.947535  0.953194  0.964167  0.972986,
           2         3         4         5
 0  0.553303  0.602258  0.559706  0.578753
 1  0.606885  0.621786  0.613089  0.641658
 2  0.647445  0.643427  0.638887  0.634408
 3  0.607022  0.628068  0.620712  0.568635
 4  0.603664  0.623885  0.608099  0.605863,
           2         3         4         5
 0  0.002959  0.003201  0.004327  0.008904
 1  0.001772  0.004161  0.002009  0.004103
 2  0.003328  0.002722  0.001807  0.001850
 3  0.002666  0.005154  0.006433  0.002343
 4  0.002742  0.003922  0.004105  0.005124,
      2    3    4    5
 0  0.0  2.0  3.0  2.0
 1  0.0  1.0  1.0  4.0
 2  1.0  2.0  2.0  2.0
 3  0.0  1.0  1.0  2.0)

In [66]:
mean_all_runs_1, mean_all_std_1 = reproducibility_mulitple_runs_student_specific(
    dataset="gender_data", 
    views=[0, 4, 5], 
    models=["gat", "gcn_student", "gcn_student_teacher", "fitnet_gcn",  "lsp_gcn", "mskd_gcn", "gcn_student_lsp_ensamble_3"],
    CV=["3Fold", "5Fold", "10Fold"], 
    runs=[i for i in range(10)], 
    students=[
        [2, 2, 1]
    ], 
    model_args = [
        gat_args, 
        gcn_student_args, 
        gat_student_args, 
        gat_fitnet_student_args, 
        gat_lsp_student_args, 
        gat_mskd_student_args, 
        gat_student_lsp_ensamble_3_args
    ]
)

In [67]:
mean_all_runs, mean_all_std = reproducibility_mulitple_runs_student_specific(
    dataset="gender_data", 
    views=[2], 
    models=["gat", "gcn_student", "gcn_student_teacher", "fitnet_gcn",  "lsp_gcn", "mskd_gcn", "gcn_student_lsp_ensamble_4"],
    CV=["3Fold", "5Fold", "10Fold"], 
    runs=[i for i in range(10)], 
    students=[
        [1]
    ], 
    model_args = [
        gat_args, 
        gcn_student_args, 
        gat_student_args, 
        gat_fitnet_student_args, 
        gat_lsp_student_args, 
        gat_mskd_student_args, 
        gat_student_lsp_ensamble_4_args
    ]
)

In [91]:
df1 = pd.DataFrame(mean_all_runs[:,:-1].T)
df2 = pd.DataFrame(mean_all_runs_1[:,:-1].T)
# Get the first row from df1
row_to_add = df1.iloc[0]
# Insert the row into df2 at index 1
reproducibility_frame = pd.concat([df2.iloc[:1], pd.DataFrame([row_to_add]), df2.iloc[1:]]).reset_index(drop=True)

models=["gat", "gcn_student", "gcn_student_teacher", "fitnet_gcn",  "lsp_gcn", "mskd_gcn", "gcn_student_lsp_ensamble_4"]
reproducibility_frame.columns = models

reproducibility_frame["delta teacher"] = ((reproducibility_frame["gcn_student_lsp_ensamble_4"] - reproducibility_frame["gat"]) / reproducibility_frame["gat"])*100
reproducibility_frame["delta student"] = ((reproducibility_frame["gcn_student_lsp_ensamble_4"] - reproducibility_frame["gcn_student"]) / reproducibility_frame["gcn_student"])*100

reproducibility_frame["delta vanilla"] = ((reproducibility_frame["gcn_student_lsp_ensamble_4"] - reproducibility_frame["gcn_student_teacher"]) / reproducibility_frame["gcn_student_teacher"])*100
reproducibility_frame["delta fitnet"] = ((reproducibility_frame["gcn_student_lsp_ensamble_4"] - reproducibility_frame["fitnet_gcn"]) / reproducibility_frame["fitnet_gcn"])*100
reproducibility_frame["delta lsp"] = ((reproducibility_frame["gcn_student_lsp_ensamble_4"] - reproducibility_frame["lsp_gcn"]) / reproducibility_frame["lsp_gcn"])*100
reproducibility_frame["delta mskd"] = ((reproducibility_frame["gcn_student_lsp_ensamble_4"] - reproducibility_frame["mskd_gcn"]) / reproducibility_frame["mskd_gcn"])*100

reproducibility_frame.T*100

                                      0            1            2            3
gat                           91.722222    93.333333    91.597222    92.416667
gcn_student                   92.597222    94.041667    91.166667    93.291667
gcn_student_teacher           91.180556    91.875000    93.166667    93.083333
fitnet_gcn                    76.930556    79.319444    78.236111    79.736111
lsp_gcn                       73.305556    80.111111    81.972222    83.819444
mskd_gcn                      71.638889    80.472222    80.333333    82.527778
gcn_student_lsp_ensamble_4    97.305556    95.305556    96.111111    96.194444
delta teacher                608.721987   211.309524   492.797574   408.776676
delta student                508.474576   134.396692   542.352224   311.150811
delta vanilla                671.744097   373.393802   316.040549   334.228588
delta fitnet                2648.492508  2015.408860  2284.750577  2064.100331
delta lsp                   3273.967412  1896.671290  1724.839038  1476.387738
delta mskd                  3582.784025  1843.286158  1964.038728  1656.008078

In [95]:
df1 = pd.DataFrame(mean_all_std[:,:-1].T)
df2 = pd.DataFrame(mean_all_std_1[:,:-1].T)
# Get the first row from df1
row_to_add = df1.iloc[0]
# Insert the row into df2 at index 1
reproducibility_frame_std = pd.concat([df2.iloc[:1], pd.DataFrame([row_to_add]), df2.iloc[1:]]).reset_index(drop=True)
models=["gat", "gcn_student", "gcn_student_teacher", "fitnet_gcn",  "lsp_gcn", "mskd_gcn", "gcn_student_lsp_ensamble_4"]
reproducibility_frame_std.columns = models
reproducibility_frame_std.T*100

                                    0         1         2         3
gat                          3.310221  3.361570  5.211295  4.064108
gcn_student                  4.644811  2.196421  3.407848  2.696055
gcn_student_teacher          3.306168  2.191850  3.090582  2.656956
fitnet_gcn                   9.808241  8.564491  9.219764  4.684263
lsp_gcn                      7.643635  3.655074  7.071286  5.183459
mskd_gcn                    10.140943  5.629782  8.504311  3.793371
gcn_student_lsp_ensamble_4   0.756148  1.531309  0.795435  1.859452

### VIEWS 2

In [97]:
views=[2]
CV=["3Fold", "5Fold", "10Fold"]

runs = [i for i in range(10)]
dataset = "gender_data"
dataset_split="val"
analysis_type="model_assessment"
metrics = ["acc"]

final_model = ["gcn_student_lsp_ensamble_4"]
final_model_args = [gat_student_lsp_ensamble_4_args]
best_student = [1]
baseline_models = ["gat", "gcn_student", "gcn_student_teacher", "fitnet_gcn",  "lsp_gcn", "mskd_gcn"]
baseline_models_args = [
    gat_args, 
    gcn_student_args, 
    gat_student_args, 
    gat_fitnet_student_args, 
    gat_lsp_student_args,
    gat_mskd_student_args
]

In [98]:
average_across_views_df, average_across_views_df_std_mean = performance_mulitple_runs_student_specific(final_model, final_model_args, best_student, baseline_models, baseline_models_args, views, CV, runs, dataset, dataset_split, analysis_type, metrics)

In [99]:
average_across_views_df = pd.DataFrame(average_across_views_df)
models=["gat", "gcn_student", "gcn_student_teacher", "fitnet_gcn",  "lsp_gcn", "mskd_gcn", "repKD"]

average_across_views_df.columns = models
average_across_views_df = average_across_views_df*100
average_across_views_df.T

                             0          1
gat                  67.774275  67.774275
gcn_student          63.747176  63.747176
gcn_student_teacher  64.187689  64.187689
fitnet_gcn           64.152418  64.152418
lsp_gcn              65.015335  65.015335
mskd_gcn             65.060484  65.060484
repKD                61.308913  61.308913

In [100]:
average_across_views_df_std_mean = pd.DataFrame(average_across_views_df_std_mean)
models=["gcn", "gcn_student", "gcn_student_teacher", "fitnet", "lsp", "mskd", "repKD"]

average_across_views_df_std_mean.columns = models
average_across_views_df_std_mean.T*100

                            0
gcn                  0.089857
gcn_student          0.198404
gcn_student_teacher  0.149138
fitnet               0.270396
lsp                  0.057501
mskd                 0.067812
repKD                0.031480

### VIEWS 0, 4, 5

In [101]:
views=[0, 4, 5]
CV=["3Fold", "5Fold", "10Fold"]

runs = [i for i in range(10)]
dataset = "gender_data"
dataset_split="val"
analysis_type="model_assessment"
metrics = ["acc"]

final_model = ["gcn_student_lsp_ensamble_3"]
final_model_args = [gat_student_lsp_ensamble_3_args]
best_student = [2, 2, 1]
baseline_models = ["gat", "gcn_student", "gcn_student_teacher", "fitnet_gcn",  "lsp_gcn", "mskd_gcn"]
baseline_models_args = [
    gat_args, 
    gcn_student_args, 
    gat_student_args, 
    gat_fitnet_student_args, 
    gat_lsp_student_args,
    gat_mskd_student_args
]

In [102]:
average_across_views_df, average_across_views_df_std_mean = performance_mulitple_runs_student_specific(final_model, final_model_args, best_student, baseline_models, baseline_models_args, views, CV, runs, dataset, dataset_split, analysis_type, metrics)

In [103]:
average_across_views_df = pd.DataFrame(average_across_views_df)
models=["gat", "gcn_student", "gcn_student_teacher", "fitnet_gcn",  "lsp_gcn", "mskd_gcn", "repKD"]

average_across_views_df.columns = models
average_across_views_df = average_across_views_df*100
average_across_views_df.T

                             0          1          2          3
gat                  62.028917  65.287638  66.396705  64.571087
gcn_student          57.784444  63.248662  63.622665  61.551924
gcn_student_teacher  58.603718  63.701023  63.675328  61.993356
fitnet_gcn           62.967910  66.400213  65.153264  64.840463
lsp_gcn              60.398509  64.934809  65.058197  63.463839
mskd_gcn             60.789651  65.185481  65.080568  63.685233
repKD                60.225773  64.342729  62.806834  62.458445

In [104]:
average_across_views_df_std_mean = pd.DataFrame(average_across_views_df_std_mean)
models=["gcn", "gcn_student", "gcn_student_teacher", "fitnet", "lsp", "mskd", "repKD"]

average_across_views_df_std_mean.columns = models
average_across_views_df_std_mean.T*100

                            0         1         2
gcn                  0.312894  0.234458  0.552232
gcn_student          0.279307  0.111084  0.086607
gcn_student_teacher  0.309942  0.243581  0.299199
fitnet               0.117339  0.229120  0.363787
lsp                  0.313266  0.269192  0.053290
mskd                 0.243342  0.413573  0.280128
repKD                0.166420  0.106404  0.335289