In [189]:
%load_ext autoreload
%autoreload 2

import sys
import pandas as pd
#ADD YOUR DIRECTORY HERE
sys.path.append('/Users/lorenzostigliano/Documents/University/Imperial/Summer Term/thesis-imperial/src/')
sys.path.append('/Users/lorenzostigliano/Documents/University/Imperial/Summer Term/thesis-imperial/src/utils')
sys.path.append('/Users/lorenzostigliano/Documents/University/Imperial/Summer Term/thesis-imperial/src/models')

from utils.analysis import *
from utils.getters import * 
from utils.plotters import * 
from utils.helpers import * 
from utils.config import * 
from models_config.model_config_GSP import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [190]:
analysis_type="model_assessment"
dataset_split="val"
dataset="gender_data"
models_args=[
    gcn_gat_student_lsp_ensamble_2_args,
    gcn_gat_student_lsp_ensamble_3_args,
    gcn_gat_student_lsp_ensamble_4_args,
    gcn_gat_student_lsp_ensamble_5_args
]
views = [0,2,4,5]

#GET ALL OF THE MODEL BEST STUDENTS FOR ALL RUNS AND DIFFERENT PICKING CRITERIA FOR OUR MODEL 
all_model_metrics_mean, all_model_metrics_var, all_model_best_student = get_all_best_student(analysis_type, dataset_split, dataset, models_args, views)

gat_student_lsp_ensamble_2
[[0.9511111111111109, 0.0007472222222222231, 0], [0.9299999999999999, 0.0006420524691358031, 1], [0.9299999999999999, 0.0006420524691358031, 1], [0.9511111111111109, 0.0007472222222222231, 0], [0.9299999999999999, 0.0006420524691358031, 1]]
[[0.9297222222222222, 0.0003307098765432091, 1], [0.9297222222222222, 0.0003307098765432091, 1], [0.9297222222222222, 0.0003307098765432091, 1], [0.9297222222222222, 0.0003307098765432091, 1], [0.9297222222222222, 0.0003307098765432091, 1]]
[[0.9306944444444445, 0.0007277970679012331, 0], [0.89375, 0.002746238425925927, 1], [0.89375, 0.002746238425925927, 1], [0.9306944444444445, 0.0007277970679012331, 0], [0.89375, 0.002746238425925927, 1]]
[[0.9402777777777779, 0.00013001543209876625, 0], [0.8708333333333332, 0.0007773919753086436, 1], [0.8708333333333332, 0.0007773919753086436, 1], [0.9402777777777779, 0.00013001543209876625, 0], [0.9402777777777779, 0.00013001543209876625, 0]]
gat_student_lsp_ensamble_3
[[0.9597222222222221, 0.0008043981481481484, 1], [0.9597222222222221, 0.0008043981481481484, 1], [0.9597222222222221, 0.0008043981481481484, 1], [0.9597222222222221, 0.0008043981481481484, 1], [0.9597222222222221, 0.0008043981481481484, 1]]
[[0.9575000000000001, 0.0007126543209876549, 2], [0.9144444444444444, 5.794753086419778e-05, 1], [0.9144444444444444, 5.794753086419778e-05, 1], [0.9575000000000001, 0.0007126543209876549, 2], [0.9144444444444444, 5.794753086419778e-05, 1]]
[[0.9568055555555557, 0.00044461805555555715, 0], [0.9327777777777779, 0.0004560956790123457, 2], [0.9223611111111112, 0.0009118248456790109, 1], [0.9568055555555557, 0.00044461805555555715, 0], [0.9223611111111112, 0.0009118248456790109, 1]]
[[0.9483333333333333, 0.0005296296296296305, 1], [0.9151388888888888, 0.00018535879629629789, 2], [0.9151388888888888, 0.00018535879629629789, 2], [0.9151388888888888, 0.00018535879629629789, 2], [0.9151388888888888, 0.00018535879629629789, 2]]
gat_student_lsp_ensamble_4
[[0.9777777777777779, 0.00034567901234567857, 1], [0.9777777777777779, 0.00034567901234567857, 1], [0.9777777777777779, 0.00034567901234567857, 1], [0.9777777777777779, 0.00034567901234567857, 1], [0.9777777777777779, 0.00034567901234567857, 1]]
[[0.9858333333333335, 5.9336419753086363e-05, 3], [0.9411111111111111, 0.00024853395061728406, 1], [0.9858333333333335, 5.9336419753086363e-05, 3], [0.9858333333333335, 5.9336419753086363e-05, 3], [0.9858333333333335, 5.9336419753086363e-05, 3]]
[[0.9838888888888888, 0.00013240740740740837, 1], [0.9575000000000001, 0.0006405092592592602, 3], [0.9575000000000001, 0.0006405092592592602, 3], [0.9838888888888888, 0.00013240740740740837, 1], [0.9838888888888888, 0.00013240740740740837, 1]]
[[0.9629166666666666, 0.0006635995370370364, 3], [0.9181944444444443, 0.0003342785493827156, 2], [0.9181944444444443, 0.0003342785493827156, 2], [0.9629166666666666, 0.0006635995370370364, 3], [0.9181944444444443, 0.0003342785493827156, 2]]
gat_student_lsp_ensamble_5
[[0.975277777777778, 7.785493827160516e-05, 2], [0.9390277777777776, 0.001098167438271605, 4], [0.9390277777777776, 0.001098167438271605, 4], [0.975277777777778, 7.785493827160516e-05, 2], [0.9390277777777776, 0.001098167438271605, 4]]
[[0.9686111111111112, 0.0002732253086419747, 3], [0.9666666666666666, 0.00035763888888888835, 1], [0.9666666666666666, 0.00035763888888888835, 1], [0.9666666666666666, 0.00035763888888888835, 1], [0.9666666666666666, 0.00035763888888888835, 1]]
[[0.985138888888889, 3.6284722222222016e-05, 3], [0.9431944444444443, 0.0004500192901234565, 4], [0.9431944444444443, 0.0004500192901234565, 4], [0.985138888888889, 3.6284722222222016e-05, 3], [0.9431944444444443, 0.0004500192901234565, 4]]
[[0.9633333333333333, 0.00020648148148148053, 4], [0.9633333333333333, 0.00020648148148148053, 4], [0.9633333333333333, 0.00020648148148148053, 4], [0.9633333333333333, 0.00020648148148148053, 4], [0.9633333333333333, 0.00020648148148148053, 4]]

In [191]:
df_rep, df_acuracy, df_var, index = final_student(all_model_metrics_mean, all_model_metrics_var, all_model_best_student, selection_method='weighted acc')

In [192]:
df_rep, df_acuracy, df_var, index

(          2         3         4         5
 0  0.951111  0.959722  0.977778  0.975278
 1  0.929722  0.957500  0.985833  0.966667
 2  0.930694  0.956806  0.983889  0.985139
 3  0.940278  0.915139  0.962917  0.963333
 4  0.937951  0.947292  0.977604  0.972604,
           2         3         4         5
 0  0.560143  0.567746  0.562525  0.560018
 1  0.643249  0.562680  0.574510  0.581532
 2  0.560622  0.560961  0.559756  0.557949
 3  0.560575  0.602495  0.560663  0.578375
 4  0.581147  0.573470  0.564364  0.569469,
           2         3         4         5
 0  0.000576  0.005754  0.005631  0.003810
 1  0.007425  0.004582  0.007091  0.010511
 2  0.000862  0.001858  0.001107  0.004139
 3  0.000653  0.010479  0.004724  0.019233
 4  0.003763  0.006469  0.005136  0.011314,
      2    3    4    5
 0  0.0  1.0  1.0  2.0
 1  1.0  2.0  3.0  1.0
 2  0.0  0.0  1.0  3.0
 3  0.0  2.0  3.0  4.0)

In [194]:
mean_all_runs, mean_all_std = reproducibility_mulitple_runs_student_specific(
    dataset="gender_data", 
    views=[0,2,4,5], 
    models=["gcn", "gat_student", "gat_student_teacher", "fitnet_gat",  "lsp_gat", "mskd_gat", "gat_student_lsp_ensamble_2"],
    CV=["3Fold", "5Fold", "10Fold"], 
    runs=[i for i in range(10)], 
    students=[
        [0,1,0,0]
    ], 
    model_args = [gcn_args, 
                  gat_gat_student_args, 
                  gcn_gat_student_args, 
                  gcn_gat_fitnet_student_args, 
                  gcn_gat_lsp_student_args,
                  gcn_gat_mskd_student_args,
                  gcn_gat_student_lsp_ensamble_2_args])

In [195]:
reproducibility_frame = pd.DataFrame(mean_all_runs.T)

models=["gcn", "gat_student", "gat_student_teacher", "fitnet_gat", "lsp_gat", "mskd_gat", "repKD"]
reproducibility_frame.columns = models
reproducibility_frame = reproducibility_frame*100
reproducibility_frame["delta student"] = ((reproducibility_frame["repKD"] - reproducibility_frame["gcn"]) / reproducibility_frame["gcn"])*100
reproducibility_frame["delta teacher"] = ((reproducibility_frame["repKD"] - reproducibility_frame["gat_student"]) / reproducibility_frame["gat_student"])*100

reproducibility_frame["delta vanilla"] = ((reproducibility_frame["repKD"] - reproducibility_frame["gat_student_teacher"]) / reproducibility_frame["gat_student_teacher"])*100
reproducibility_frame["delta fitnet"] = ((reproducibility_frame["repKD"] - reproducibility_frame["fitnet_gat"]) / reproducibility_frame["fitnet_gat"])*100
reproducibility_frame["delta lsp"] = ((reproducibility_frame["repKD"] - reproducibility_frame["lsp_gat"]) / reproducibility_frame["lsp_gat"])*100
reproducibility_frame["delta mskd"] = ((reproducibility_frame["repKD"] - reproducibility_frame["mskd_gat"]) / reproducibility_frame["mskd_gat"])*100

reproducibility_frame.T

                             0          1          2          3          4
gcn                  89.138889  88.875000  90.597222  90.166667  89.694444
gat_student          91.944444  90.736111  91.986111  91.750000  91.604167
gat_student_teacher  89.486111  84.625000  86.763889  88.402778  87.319444
fitnet_gat           74.361111  79.027778  73.750000  76.833333  75.993056
lsp_gat              88.847222  85.291667  82.569444  87.625000  86.083333
mskd_gat             84.472222  83.055556  85.305556  83.666667  84.125000
repKD                95.111111  92.972222  93.069444  94.027778  93.795139
delta student         6.699907   4.610095   2.728806   4.282193   4.571849
delta teacher         3.444109   2.464411   1.177714   2.482592   2.391782
delta vanilla         6.285892   9.863778   7.267488   6.362922   7.416097
delta fitnet         27.904371  17.644991  26.195857  22.378886  23.425934
delta lsp             7.050180   9.005048  12.716569   7.307022   8.958535
delta mskd           12.594541  11.939799   9.101270  12.383798  11.494965

In [196]:
reproducibility_frame_std = pd.DataFrame(mean_all_std.T)*100
models=["gcn", "gat_student", "gat_student_teacher", "fitnet_gat", "lsp_gat", "mskd_gat", "repKD"]
reproducibility_frame_std.columns = models
reproducibility_frame_std.T

                             0          1          2          3         4
gcn                   3.737531   3.388120   4.468274   5.456336  3.138927
gat_student           3.333912   4.073045   3.429206   3.744955  0.864548
gat_student_teacher   4.881327   9.628126   9.476874   6.575843  3.195644
fitnet_gat           10.086088  13.025823  12.555740  12.617473  7.037676
lsp_gat               5.828387   5.402921   7.954163   6.080558  3.754171
mskd_gat              9.772055   6.949443   4.778182   4.825345  5.402198
repKD                 2.733537   1.818543   2.697771   1.140243  1.333989

In [197]:
views=[0, 2, 4, 5]
CV=["3Fold", "5Fold", "10Fold"]

runs = [i for i in range(10)]
dataset = "gender_data"
dataset_split="val"
analysis_type="model_assessment"
metrics = ["acc"]

final_model = ["gat_student_lsp_ensamble_2"]
final_model_args = [gcn_gat_student_lsp_ensamble_2_args]
best_student = [0,1,0,0]
baseline_models = ["gcn", "gat_student", "gat_student_teacher", "fitnet_gat",  "lsp_gat", "mskd_gat"]
baseline_models_args = [
    gcn_args, 
    gat_gat_student_args,
    gcn_gat_student_args,
    gcn_gat_fitnet_student_args,
    gcn_gat_lsp_student_args,
    gcn_gat_mskd_student_args]

In [204]:
average_across_views_df, average_across_views_df_std_mean = performance_mulitple_runs_student_specific(final_model, final_model_args, best_student, baseline_models, baseline_models_args, views, CV, runs, dataset, dataset_split, analysis_type, metrics)

In [205]:
average_across_views_df = pd.DataFrame(average_across_views_df)
models=["gcn", "gat_student", "gat_student_teacher", "fitnet_gat",  "lsp_gat", "mskd_gat", "repKD"]

average_across_views_df.columns = models
average_across_views_df = average_across_views_df*100
average_across_views_df.T

                             0          1          2          3          4
gcn                  61.010917  66.158171  66.906934  65.441907  64.879482
gat_student          57.524683  61.165815  60.289983  59.962390  59.735718
gat_student_teacher  57.766113  62.501869  61.324538  61.282819  60.718835
fitnet_gat           63.468998  66.871797  66.641624  66.680874  65.915823
lsp_gat              63.433990  66.272329  66.213870  66.684096  65.651071
mskd_gat             63.795540  67.463366  67.412025  66.882208  66.388285
repKD                56.014318  64.324898  56.062245  56.057518  58.114745

In [206]:
average_across_views_df_std_mean = pd.DataFrame(average_across_views_df_std_mean)
models=["gcn", "gat_student", "gat_student_teacher", "fitnet_gat",  "lsp_gat", "mskd_gat", "repKD"]

average_across_views_df_std_mean.columns = models
average_across_views_df_std_mean.T

                            0         1         2         3
gcn                  0.002973  0.000928  0.000873  0.001243
gat_student          0.004890  0.000675  0.001943  0.000844
gat_student_teacher  0.004064  0.000824  0.001927  0.002018
fitnet_gat           0.002022  0.000407  0.002391  0.000179
lsp_gat              0.002776  0.001932  0.002348  0.000848
mskd_gat             0.002244  0.004588  0.001326  0.000988
repKD                0.000814  0.003696  0.001334  0.000786